.home {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.home .wrapper {
  width: 100%;
  max-width: 1366px;
  display: flex;
  padding: 0 30px;
}
